@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("../images/low-poly-grid-haikei.svg");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.container{
    margin-top:50px ;
    height: 70%;
    outline: solid 2px;
    padding: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.container h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 25px;
    margin-bottom: 20px;
}

.container__search{
    border: solid 1px;
    height: 250px;
    display:grid;
    grid-template-areas: 
    'name name imag'
    'prop prop imag'
    'boton boton imag';
    justify-items: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(2,1fr) 2fr;
    grid-template-columns: repeat(3,1fr);
    /* border: solid 1px red; */
}

#nombre,#propiedad{
    width: 80%;
    height: 35px;
    font-size: 1.5em;
    padding-left: 10px;
}


label{
    display: block;
    text-align: center;
    
}
.container__search-name{
    grid-area: name;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
}

.container__search-property{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: prop;
    width: 100%;
    /* border: solid 1px blue; */
}

.container__search-photo{
    width: 90%;
    height: 200px;
    grid-area: imag;
    /* border: solid 1px;  */
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container__search-photo img{
    height: 90%;
    width: 90%;
    object-fit:scale-down;  
    display: flex;
    justify-content: center;  
}

.btn{
    display: block;
    outline: none;
    border:none;
    color: white;
    background: radial-gradient(circle, rgba(59,87,179,1) 0%, rgba(179,182,222,1) 48%, rgba(16,7,198,1) 100%);
    background-repeat: no-repeat;
    height: 35px;
    width: 35%;
    cursor: pointer;
}

.container__search-button{
    width: 100%;
    display: flex;
    gap: 10%;
    justify-content: center;
    grid-area: boton;
}

.container__search-result{
    border:solid 1px black;
    height: 200px;
    width: 100%;
    margin-top: 10px;
    text-align: justify;
    padding: 2px 20px;
    display: flex;
    align-items: center; 
    font-size: 1rem;
    font-weight: 600;
    overflow: scroll;
}

.personajes{
   /* color:blue; */
   position: absolute;
   top:0px;
   left: 0px;
   width: 100%;
   display: flex;
   gap:20px;
   background-color: azure;
   padding:5px 0 5px 5px;
    overflow: scroll;
}
.personajes img{
    width: auto;
    height: 90px;
    object-fit:cover;
   
}

::-webkit-scrollbar{
    display: none;
}

footer{
    background-color: blue;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}